<template>
  <div class="home">
    <button @click="increment">{{counter.value}}</button>
    <div :class="{drop: true, over: isOver}"
         @dragleave.prevent="leave"
         @dragover.prevent="over"
         @drop.prevent="drop">
      ドロップエリア
    </div>
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import MyCounter from 'my-counter';
import HelloWorld from '@/components/HelloWorld.vue';

export default {
  name: 'home',
  components: {
    HelloWorld,
  },
  data() {
    return {
      counter: new MyCounter(),
      isOver: false,
    };
  },
  methods: {
    increment() {
      this.counter.increment();
    },
    drop(event) {
      console.log(event.target.files);
      console.log(event.dataTransfer.files);
      this.isOver = false;
    },
    leave() {
      this.isOver = false;
    },
    over() {
      this.isOver = true;
    },
  },
};
</script>

<style>
  .drop {
    background-color: azure;
    height: 240px;
  }

  .drop.over {
    background-color: lightgrey;
  }
</style>
